a {
    max-width: 30vw;
}


h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}





.logobutton>img {
    max-height: 8vh;
    max-width: 24vw;
    margin-top: 1vh;
    margin-left: 1vw;
}

.logobutton>h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}

body {
    margin: 0;
}


main {

    margin-left: 2vw;
    margin-top: 2vh;
}

article {
    width: 90vw;
    margin-top: 5%;
    position: relative;

}


.highlightimage {
    width: 96vw;
}


 section {
    min-width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

} 


h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 105%;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
}


h3 {
    font-family: 'Castoro', serif;
    font-size: 150%;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 40%;
    left: 10%;
    margin-right: 5%;

}

button {
    border-style: none;
    background-color: transparent;
}


/* nav */




.menu {

    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}




.logobutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.bluemenu {
    background-color: aqua;
}


header {
    position: relative;

}

nav {
    position: absolute;
    z-index: 1;
    background-color: #72c0cf;
    min-width: 100vw;
    min-height: 100vh;
    transition: .30s ease-in;


}

nav ul {
    margin-top: 10%;
}


nav ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    text-decoration: none;
    color: white;
    list-style: none;
    text-align: left;
    margin-top: 3%;
}


nav {
    opacity: 0;
}

.active {
    opacity: 1;
    position: absolute;
    z-index: 1;
    background-color: #72c0cf;
    min-width: 100vh;
    min-height: 100vh;
    transition: .30s ease-in;
    margin-left: 0;

}


.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "blog"
        "training"
        "artikel"
        
        ;

}


.perfectionisme {
    grid-area:blog;
}

.ebook {
    grid-area:artikel;
}

.training {
    grid-area:training;
    
}






@media (min-width:40em) {
   
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
           "blog artikel"
           "training training";
            
           
    
    
    }


    article {
        max-width:20vw;
    }

    .highlightimage {
        max-width:55vw;
    }


    .perfectionisme {
        max-height:20vh;
        max-width:30vw;
    }
   

    .training {
        max-height:60vh;
        max-width:80vw;
        margin-top:10%;
       
    }

    a {
        max-width:20vw;
        margin:0;
    }


    .ebook {
        max-height:20vh;
        max-width:30vw;
    }


}